<?xml version="1.0" encoding="utf-8"?>
<QualityStatsSystemSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SubscriptionFileLastModified>5/13/2016 1:34:10 AM</SubscriptionFileLastModified>
  <SubscriptionFileLastChecked>9/2/2016 2:12:46 PM</SubscriptionFileLastChecked>
  <ConversionFileLastModified>1/15/2016 10:24:11 PM</ConversionFileLastModified>
  <ConversionFileLastChecked>9/2/2016 2:12:46 PM</ConversionFileLastChecked>
</QualityStatsSystemSettings>